<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <th:block layout:fragment="content">
        <section class="s1">
            <div class="center-box">
                <h2>영화 등록하기</h2>
                <form th:action="@{/movies/create}" method="post">
                    <div class="input-group">
                        <label for="name" class="bg-dark input-group-text">영화명 : </label>
                        <input type="text" id="name" name="name" class="form-control bg-dark">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="director" class="form-label">영화감독 : </label>
                        <input type="text" id="director" name="director" class="form-control">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="distributer" class="form-label">영화배급사 : </label>
                        <input type="text" id="distributer" name="distributer" class="form-control">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="actor" class="form-label">주연배우 : </label>
                        <input type="text" id="actor" name="actor" class="form-control">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="rating" class="form-label">별점 : </label>
                        <input type="text" id="rating" name="rating" class="form-control">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="price" class="form-label">관람료 : </label>
                        <input type="text" id="price" name="price" class="form-control">
                    </div>
                    <div class="mb-3 bg-dark">
                        <label for="plot" class="form-label">시놉시스 : </label>
                        <textarea name="plot" id="plot" rows="5" cols="100" ></textarea>
                    </div>
                    <input type="submit" value="저장하기" class="btn btn-info my-2">
                    <input type="reset" value="다시쓰기" class="btn btn-light my-2">
                    <a th:href="@{/movies/list}" class="btn btn-light my-2">영화목록</a>
                </form>
            </div>
        </section>
    </th:block>
</html>