<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script th:src="@{/js/calendar.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <section class="s1">
        <div class="center-box">
            <h2>영화 예매하기</h2>
            <div class="content reservation">
                <form th:action="@{/reserve/check}" id="reserveForm" method="post">
                    <!-- 화면에는 안보이지만 다음 페이지로 값을 파라미터로 넘김 -->
                    <input type="hidden" th:value="${rank}" name="rank">
                    <input type="hidden" th:value="${movieNm}" name="movieNm">
                    <input type="hidden" th:value="${image}" name="image">
                    <!-- 로그인했다면 사용자 인증 정보도 다음 페이지로 파라미터로 넘김 -->
                    <div th:if="${#authentication}">
                        <input type="hidden" name="username" th:value="${#authentication.principal.username}">
                    </div>
                    <div class="wrap">
                        <div class="movie-info">
                            <div class="movie-info-image">
                                <img th:src="${image}">
                            </div>
                            <div class="movie-info-text">
                                <h3 th:text="'영화명 : ' + ${movieNm}"></h3>
                                <h3 th:text="'개봉일 : ' + ${releaseDate}"></h3>
                                <h3 th:text="'러닝타임 : ' + ${runtime}"></h3>
                            </div>
                            <!-- 선택된 좌석 -->
                            <div id="reserved-seats"></div>
                        </div>
                        <div class="reserve-info">
                            <div class="resDay">
                                <div class="resDay-header">
                                    <div class="resDay-title">일정 선택</div>
                                </div>
                                <div class="resDay-calendar">
                                    <div>
                                        <input type="date" id="datePicker" name="reservation_day" readonly>
                                    </div>
                                    <div class="dateError-blank" id="dateError">날짜를 선택해 주세요.</div>
                                </div>
                            </div>
                            <!-- 좌석 선택 영역-->
                            <div class="theater">
                                <div class="theater-header">
                                    <div class="theater-title">좌석 선택</div>
                                    <div class="theater-select">
                                        <div id="movie-container">
                                            <ul class="showcase">
                                                <li>
                                                    <div class="availableSeatIcon"></div>
                                                    <small class="small">예매 가능</small>
                                                </li>
                                                <li>
                                                    <div class="selectedSeatIcon"></div>
                                                    <small class="small">선택한 좌석</small>
                                                </li>
                                                <li>
                                                    <div class="occupiedSeatIcon"></div>
                                                    <small class="small">예매 불가</small>
                                                </li>
                                            </ul>
                                            <div class="seat-container">
                                                <div class="screen">SCREEN</div>
                                                <div class="row">
                                                    <span class="seat-col-blank"></span>
                                                    <span class="seat-col-no">1</span>
                                                    <span class="seat-col-no">2</span>
                                                    <span class="blank"></span>
                                                    <span class="seat-col-no">3</span>
                                                    <span class="seat-col-no">4</span>
                                                    <span class="seat-col-no">5</span>
                                                    <span class="blank"></span>
                                                    <span class="seat-col-no">6</span>
                                                    <span class="seat-col-no">7</span>
                                                    <span class="seat-col-no">8</span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">A</span>
                                                    <span class="seat" data-seat="A1"></span>
                                                    <span class="seat" data-seat="A2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="A3"></span>
                                                    <span class="seat" data-seat="A4"></span>
                                                    <span class="seat" data-seat="A5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="A6"></span>
                                                    <span class="seat" data-seat="A7"></span>
                                                    <span class="seat" data-seat="A8"></span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">B</span>
                                                    <span class="seat" data-seat="B1"></span>
                                                    <span class="seat" data-seat="B2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="B3"></span>
                                                    <span class="seat" data-seat="B4"></span>
                                                    <span class="seat" data-seat="B5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="B6"></span>
                                                    <span class="seat" data-seat="B7"></span>
                                                    <span class="seat" data-seat="B8"></span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">C</span>
                                                    <span class="seat" data-seat="C1"></span>
                                                    <span class="seat" data-seat="C2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="C3"></span>
                                                    <span class="seat" data-seat="C4"></span>
                                                    <span class="seat" data-seat="C5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="C6"></span>
                                                    <span class="seat" data-seat="C7"></span>
                                                    <span class="seat" data-seat="C8"></span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">D</span>
                                                    <span class="seat" data-seat="D1"></span>
                                                    <span class="seat" data-seat="D2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="D3"></span>
                                                    <span class="seat" data-seat="D4"></span>
                                                    <span class="seat" data-seat="D5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="D6"></span>
                                                    <span class="seat" data-seat="D7"></span>
                                                    <span class="seat" data-seat="D8"></span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">E</span>
                                                    <span class="seat" data-seat="E1"></span>
                                                    <span class="seat" data-seat="E2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="E3"></span>
                                                    <span class="seat" data-seat="E4"></span>
                                                    <span class="seat" data-seat="E5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="E6"></span>
                                                    <span class="seat" data-seat="E7"></span>
                                                    <span class="seat" data-seat="E8"></span>
                                                </div>
                                                <div class="row">
                                                    <span class="seat-row-no">F</span>
                                                    <span class="seat" data-seat="F1"></span>
                                                    <span class="seat" data-seat="F2"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="F3"></span>
                                                    <span class="seat" data-seat="F4"></span>
                                                    <span class="seat" data-seat="F5"></span>
                                                    <span class="blank"></span>
                                                    <span class="seat" data-seat="F6"></span>
                                                    <span class="seat" data-seat="F7"></span>
                                                    <span class="seat" data-seat="F8"></span>
                                                </div>
                                                <input type="text" id="selectedSeats" name="reservation_num" readonly>
                                                <div class="seatError-blank" id="seatError">좌석을 선택해 주세요.</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-btn">
                                    <div class="next">
                                        <button type="button" id="sendBtn">예매하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
    $(document).ready(function() {
        const reservedSeatsArray = [];
        // 주어진 문자열들을 쉼표로 구분하여 하나의 배열로 합침
        const reservedSeatsMergedArray = reservedSeatsArray.map(seatsString => seatsString.split(',')).flat();

        // 예약된 좌석을 저장한 결과 배열 생성
        const reservedSeatsResultArray = [];
        // A부터 F까지의 행을 순회함
        for (let rowIdx = 0; rowIdx < 6; rowIdx++) {
            // 65는 아스키코드 (65 = A)
            const row = String.fromCharCode(65 + rowIdx);
            // 1~8까지의 열을 순회함
            for (let colIdx = 1; colIdx <= 8; colIdx++) {
                const seat = row + colIdx;
                // 예약된 좌석 배열에 좌석이 존재하면 배열에 추가
                if (reservedSeatsMergedArray.includes(seat)) {
                    reservedSeatsResultArray.push(seat);
                }
            }
        }

        // 결과 배열에 포함된 예약된 좌석에 대한 클래스 추가
        reservedSeatsResultArray.forEach(seatId => {
            const seatElement = $(`.seat[data-seat="${seatId}"]`);
            // 예약된 좌석이 있으면 클래스를 추가하라
            if (seatElement) {
                seatElement.addClass("occupiedSeat");
            }
        });


        // 좌석을 클릭할 때마다 selectedSeat 클래스가 추가되거나 제거됨
        $(".seat").click(function() {
            const seatId = $(this).attr("data-seat");
            if ($(this).hasClass("selectedSeat")) {
                $(this).removeClass("selectedSeat");
            } else {
                $(this).addClass("selectedSeat");
            }

            // 좌석이 여러 개 선택되면 배열 => 문자열로 처리
            let selectedSeats = [];
            $(".seat.selectedSeat").each(function() {
                selectedSeats.push($(this).attr("data-seat"));
            });

            $("#selectedSeats").val(selectedSeats.join(","));
        });

        $("#sendBtn").click(function(e){
            sendReservation(e);
        });
    });

        function sendReservation(e) {
            sendReservation2(e);
            const selectedDateEl = $("#datePicker");
            const selectedDate = selectedDateEl.val();

            const selectedSeats = $(".selectedSeat");   // modified
            const seatNumbers = Array.from(selectedSeats).map(seat => seat.getAttribute('data-seat'));

            const seatNumbersString = seatNumbers.join(", ");
            const seatNumbersArray = seatNumbersString.split(",");

            $("#datePicker").val(selectedDate);
            $("#selectedSeats").val(seatNumbers.join(", "));
            console.log(selectedDate);
            console.log(seatNumbers);

            //날짜를 선택하지 않으면 "날짜를 선택해 주세요" 글씨 활성화
            if ($("#datePicker").val().length === 0) {
                $("#dateError").removeClass("dateError-blank");
                $("#dateError").addClass("dateError");
                return false;
            }

            //좌석을 선택하지 않으면 "좌석을 선택해 주세요" 글씨 활성화
            if ($("#selectedSeats").val().length === 0) {
                $("#seatError").removeClass("seatError-blank");
                $("#seatError").addClass("seatError");
                return false;
            }
            $("#reserveForm").submit();
            return true;
        }


        // async - await : 통신
        async function sendReservation2(e) {
            e.preventDefault();
            let isAuthenticated = await isLoggedIn();
            if (!isAuthenticated) {
                alert("로그인 해주세요.");
                return;
            }
            //e.target.submit();
            function isLoggedIn() {
                return new Promise((resolve, reject) => {
                    // Ajax 요청을 보내 로그인 여부 확인
                    const xhr = new XMLHttpRequest();
                    xhr.open("GET", "/isAuthenticated", true);
                    xhr.onload = function() {
                        const isAuthenticated = JSON.parse(xhr.responseText);
                        resolve(isAuthenticated);
                    };

                    xhr.onerror = function() {
                        reject(xhr.statusText);
                    };
                    xhr.send();
                });
            }
        }
    </script>
</th:block>
</body>
</html>